In [ ]:
""" 
this is what was requested

Covariance and Correlation in Numpy.

List and dictionary comprehension

Working with csv and json - this week's recap

Data visualisation-------------------------------
"""

### Covariance and Correlation

In [1]:
""" 
weight (x1)   kg    |          engine capacity (x2) l     |       km/l fuel consumption(y-target)

1500                                3                                         7

"""
import numpy as np

x = np.array([2,4,8,16,32])
y = np.array([1,2,3,4,6])


cov_x_y = np.cov(x,y)

cov_x_y

array([[148.8,  22.9],
       [ 22.9,   3.7]])

In [3]:
np.corrcoef(x,y)

array([[1.        , 0.97596255],
       [0.97596255, 1.        ]])

In [ ]:
import pandas as pd


x_series = pd.Series(x)
y_series = pd.Series(y)

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [14]:
df = pd.concat([x_series,y_series],axis=1).head()

df.corr()

          0         1
0  1.000000  0.975963
1  0.975963  1.000000

### List and Dictionary Comprehension

In [ ]:
""" 

df2 = pd.DataFrame(flattened_tracks)

df2.head()
"""

##
# flavors = ['Vanilla','Chocolate', 'Cookie Dough']
# toppings = ['Hot Fudge', 'Oreos', 'Marshmallows']

In [15]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19]

#create a new list with squared prime numbers
loop_squared = []

for prime_number in prime_numbers:

    squared = prime_number ** 2

    loop_squared.append(squared)

loop_squared

[4, 9, 25, 49, 121, 169, 289, 361]

In [16]:
comprehension_squared = [prime_number ** 2 for prime_number in prime_numbers]

comprehension_squared

[4, 9, 25, 49, 121, 169, 289, 361]

In [28]:
### Dictionary Comprehension

# [4, 9, 25, 49, 121, 169, 289, 361]
# [2, 3, 5, 7, 11, 13, 17, 19]

# {
#     2:4,
#     3:9,
#     5:25
# }

# dict(zip(prime_numbers, comprehension_squared))

dict_map = {}
for prime_number in prime_numbers:
    dict_map[prime_number] = prime_number ** 2

dict_map.items()

dict_items([(2, 4), (3, 9), (5, 25), (7, 49), (11, 121), (13, 169), (17, 289), (19, 361)])

In [32]:
dict_map2 = {}

for key, value in zip(prime_numbers, comprehension_squared):
    dict_map2[key] = value

dict_map2

{2: 4, 3: 9, 5: 25, 7: 49, 11: 121, 13: 169, 17: 289, 19: 361}

In [34]:
comprehension_dict = {key:value for key, value in zip(prime_numbers, comprehension_squared)}

comprehension_dict

{2: 4, 3: 9, 5: 25, 7: 49, 11: 121, 13: 169, 17: 289, 19: 361}

In [ ]:
# flattened_tracks = []


# for track in tracks:
#     dict_keys = list(track.keys())
#     #print(dict_keys)
#     flattened_tracks.append({
#         dict_keys[0]: track['title'],
#         dict_keys[1]:track['artist'],
#         dict_keys[2]: round(track['duration_sec'] / 60 ,2)
#     })